.overviews{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 1.5rem;
    gap: .5rem;
}
.overview__item{
    background-color: var(--container-color);
    border: var(--border);
    border-radius: 10px;
    padding: .5rem .75rem;
}
.overview__item-number{
    color: rgb(22 163 74);
}