.home {
    padding-top: 22vh !important;
}

.header__wrapper {
    height: 30vh;
    background: var(--container-color);
    z-index: -2;
    position: absolute;
    width: calc(100% - 80px);
    left: 80px;
    top: 0;
    border: var(--border);
}

.contact__header {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.contact__header h3 {
    font-weight: 500;
}

.contact__content {
    margin-bottom: .75rem;
}

.animate-waving-hand {
    animation: wave 2s linear infinite;
}

.home__img {
    margin-bottom: 1.5rem;
}

.home__greeting h1 {
    margin-bottom: 0;
}

.home__greeting {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: .5rem;
}

.home__name {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: .5rem;

}

.home__role {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.home__socials {
    display: flex;
    gap: 1.75rem;
    margin: 1rem 0;
}

.home__social-link {
    color: var(--title-color);
    font-size: 1.3rem;
    transition: .3;
    -webkit-transition: .3;
    -moz-transition: .3;
    -ms-transition: .3;
    -o-transition: .3;
}

.home__social-link:hover {
    color: hsl(22, 100%, 68%);
}

.scroll__down {
    position: absolute;
    bottom: 4rem;
    left: 0;
    width: 100%;
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: var(--text-color);
}

@keyframes wave {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
        transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.shapes {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.shape {
    position: absolute;
}

.s1 {
    left: 2%;
    top: 10%;
}

.s2 {
    left: 18%;
    top: 30%;
}

.s3 {
    left: 5%;
    bottom: 30%;
}

.s4 {
    left: 5%;
    bottom: 10%;
}

.s5 {
    left: 34%;
    top: 2%;
}

.s6 {
    left: 33%;
    bottom: 18%;
}

.s7 {
    top: 20%;
    right: 25%;
}

.s8 {
    right: 44%;
    bottom: 35%;
}

.s9 {
    right: 2%;
    top: 10%;
}

.s10 {
    right: 45%;
    top: 11%;
}

.s11 {
    bottom: 10%;
    right: 12%;
}

@media screen and (max-width: 1024px) {
    .home {
        padding-top: 20vh !important;
    }

    .home__social-link {
        font-size: 1.125rem;
    }

    .header__wrapper {
        left: 0;
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width: 767px) {}